<%= form_tag(games_path, method: 'get', class: 'form-inline navbar-form navbar-left') do %>
    <%= search_field_tag 'search', params[:search], class: 'form-control', placeholder: 'Search'  %>
    <%= submit_tag "Submit", class: 'btn btn-primary', :name => nil %>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.description %></td>
        <td><%= game.image_url %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
        <button onclick="buy_game(<%= game.id%>)" id= "button<%=game.id%>"  type="button" class="btn btn-primary"> comprar</button>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if current_user %>
  <%= link_to 'New Game', new_game_path %>
  <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
  <%= link_to 'Show users', "/users/show_users" %>
<% else %>
  <%= link_to 'Log in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<%end %>

<script>

function buy_game(game_id){

  var button_id = "button"+game_id
  $.ajax({
      type: "GET",
      dataType: "json",
      url: '/buy_game',
      data: {
          game_id: game_id// < note use of 'this' here
      },
      success: function(json) {
          var response = json.text;
          alert(response);
          if (response == "destroy")
          {
            $('#button1').removeClass('btn btn-success');
            $('#button1').addClass('btn btn-primary');
          }
          else if (response == "create"){
            $('#button1').removeClass('btn btn-primary');
            $('#button1').addClass('btn btn-success');
          }
          
      },
      error: function(json) {
          alert("Necesitas estar registrado para comprar !!!")
      }
  });
}

</script>